@layout('layouts.app')
@section('content')
    <div class="container-fluid presInfo"  style="background-color: #222;">
        <div class="presList item1">
            <img src="image/image.jpg" class="presImg">
        </div>
        <div class="presList item2">
            <ul style="list-style-type: none;">
            <li>Name</li>
            <li>About</li>
            </ul>
        </div>
    </div>
@endsection